<h1>{{ $.Site.Title }}</h1>
<p>{{ $.Site.Params.subtitle }}</p>

<!-- readable.css v1.1.0 introduced different navbar styles and defaults to a
navbar without animations. We default to "classy" to keep the animations and be
backwards compatible to earlier versions of this theme without requiring a
config change. -->
{{ $navbar_style := (default "classy" $.Site.Params.navbar_style) }}
<nav data-style={{ $navbar_style }}>
  {{ range .Site.Menus.main -}}
  {{ if eq $navbar_style "classy" }}<span>{{ end }}
      <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
  {{ if eq $navbar_style "classy" }}</span>{{ end }}
  {{- end }}
</nav>
